#gambar01 {
  width: 90%;
  border: 1px solid #FFA900;
  border-radius: 4px;
}
#ganjil {
  font-family: Sans-Serif;
  font-size: 15px;
  color: #000;
  background-color: #fff;
  padding: 5px 5px;
}
#genap {
  font-family: Sans-Serif;
  font-size: 15px;
  color: #000;
  background-color: #B4B4B4;
  padding: 5px 5px;
}
#versi {
  transition: 0.5s all;
  text-decoration: none;
}
#versi:hover {
  transition: 0.5s all;
  color: #000;
}
#dwn1, #dwn2 {
  font-family: Sans-Serif;
  font-size: 25px;
  color: #fff;
  padding: 7px 30px;
  background-color: #00FFB3;
  border: 1px solid #B4B4B4;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
  transition: 0.5s all;
}
#dwn1:hover, #dwn2:hover {
  font-size: 23px;
  box-shadow: 2px 2px 2px #A2A2A2;
}
#freefiremax, section {
  padding-top: 5rem;
}
#about {
  background-color: #e8e8e8;
}
#judul {
  font-family: Arial;
  font-size: 20px;
}
#isi {
  font-size: 15px;
  text-align: justify;
  font-family: Sans-Serif;
}
#catatan {
  font-family: Sans-Serif;
  font-size: 15px;
}